body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
 
}

.app {
  
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: auto;
  
}

.form-container {
  text-align: left;
}

h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.input-group label {
  margin-bottom: 0.5rem;
  color: #555;
}

.input-group input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.input-group input:hover {
  padding: 0.75rem;
  border: 1px solid #3c679b;
  border-radius: 30px;
  font-size: 1rem;
}

.submit-btn {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; */
  margin-left: 800px;
  padding: 0.75rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #36a269;
  color:black;
}

.submitted-data {
  margin-top: 2rem;
  text-align: left;
}

.submitted-data h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.submitted-data p {
  margin: 0.75rem 0;
  color: #555;
}

.Submit{
  display: flex;
  flex-direction: row;
  gap: 500px;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-top: 30px;
}
